.container {
  width: 80%;
  text-align: center;
  padding: 8px 12px;
  border: solid black 1px;
  overflow-y: scroll;
  margin: 4px auto;
  border-radius: 4px;
  filter: brightness(85%);
}

.iframeContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.iframeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btnsContainer {
  margin-top: 4px;
}

.btnsContainer a {
  border: solid black 1px;
  background-color: transparent;
  margin: 2px 3px;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}
