.firstSection {
  position: relative;
  height: 100%;
}

.sectionContainer {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  position: absolute;
  font-size: 1.6rem;
  z-index: 2;
}

.element:hover {
  cursor: pointer;
}

.lastAddedSoundsContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: white 2px solid;
  background-color: black;
}

.topBanner {
  height: 33px;
}

.playersContainer {
  display: flex;
  overflow-x: scroll;
  padding: 8px;
  height: 111px;
}

.playerContainer {
  background-color: bisque;
  width: 176px;
  margin: 0 8px;
}

.reactPlayer {
  aspect-ratio: 16/9;
}

.topBanner {
  width: 100%;
  height: fit-content;
}
