.navContainer {
  width: 100%;
  padding: 0 22px;
  height: 88px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  overflow-x: scroll;
}

.musicPlayer {
  position: absolute;
  top: 0;
  left: 50%;
  height: 33px;
  width: 444px;
  transform: translateX(-50%);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid black;
  border-top: 0;
  text-align: center;
}

.wholeLogoContainer {
  position: relative;
}

.wholeLogoContainer p {
  position: absolute;
  right: 0;
  bottom: -6px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logoDiv {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoLink {
  font-family: 'Shizuru', cursive;
  font-size: 2rem;
  margin-left: 8px;
}

.itemsList {
  list-style-type: none;
  display: flex;
}

.itemsList li {
  margin: 0 11px;
  height: 48px;
  display: inline-flex;
  align-items: center;
}

.navElement {
  cursor: pointer;
}

.btn {
  border-radius: 24px;
  padding: 2px 24px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--fourth);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  width: auto;
  will-change: transform, opacity;
  border: solid black 1px;
}

.btn:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.loginBtn {
  background-color: var(--secondary);
  border: solid black 1px;
}

.logoutBtn {
  background-color: rgb(221, 61, 61);
  border: solid black 1px;
}

@media only screen and (max-width: 900px) {
  .logoLink {
    display: none;
  }
  .wholeLogoContainer p {
    display: none;
  }
}
