.mainContainer {
  margin: 20px auto;
  width: 88%;
  background-color: var(--primary);
  padding: 8px;
  border: solid black 1px;
  text-align: center;
  height: fit-content;
  border-radius: 8px;
}

.randomSoundSchedule {
  border: solid black 1px;
  border-radius: 4px;
  background-color: var(--primary);
  filter: brightness(85%);
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 4px;
}

.randomSoundSchedule:hover {
  cursor: pointer;
}

.elementsContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.reactPlayerContainer {
  margin: 8px;
}

.reactPlayer {
  height: auto !important;
  aspect-ratio: 16/9;
}
