.pickerInput {
  background-color: var(--seconda);
  border: solid black 3px;
  padding: 0;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.pickerInput input {
  width: 444px;
  background-color: var(--primary);
  height: 30px;
  border: none;
  padding: 0 8px;
}

.pickerInput input::placeholder {
  color: black;
}

.pickerInput button {
  background-color: transparent;
  border: none;
  padding: 8px;
  font-size: 1.6rem;
}

.pickerInput button:hover {
  cursor: pointer;
}
