.mainContainer {
  min-height: var(--section-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.userInformationContainer {
  width: 100%;
  padding: 8px 8px;
  text-align: center;
  position: relative;
}

.newReviewBtn {
  background-color: black;
  font-size: 2rem;
  color: white;
  border-radius: 8px;
  padding: 2px 7px;
  cursor: pointer;
  border: solid white 1px;
}

.btnContainer {
  margin-top: 20px;
}

.newReviewBtn:hover {
  background-color: white;
  color: black;
}

.userSharesContainer {
  width: 100%;
}

.servicePicker {
  display: flex;
  border: solid blue 4px;
  color: black;
  cursor: pointer;
}
.spotifyPickerContainer {
  background-color: #1db954;
}

.soundcloudPickerContainer {
  background-color: #fe5000;
}

.youtubePickerContainer {
  background-color: #ff0000;
}

.servicePicker div {
  width: 100%;
  text-align: center;
  height: 44px;
  font-size: 2rem;
  justify-content: center;
  padding-top: 5px;
}

.spotifyContainer {
  background-color: #1db954;
}

.soundcloudContainer {
  background-color: #fe5000;
}

.youtubeContainer {
  background-color: #ff0000;
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    flex-direction: row;
    justify-content: center;
  }
  .userInformationContainer {
    width: 40%;
    height: 100%;
  }
  .userSharesContainer {
    width: 60%;
  }
}
