.mainContainer {
  width: 50%;
  margin: 20px auto;
}

.playerContainer {
  width: 80%;
  margin: 0 auto;
}

.playerWrapper {
  position: relative;
  border: solid white 2px;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.descriptionContainer {
  margin-top: 8px;
}

.soundRecommenderAvatar {
  border-radius: 100%;
}

.soundInformation {
  text-align: left;
  margin: 10px auto;
}
.soundInformationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.recommenderImageAvatar {
  width: 15%;
  min-width: 66px;
  margin: 8px;
}

.btnContainer {
  text-align: center;
  margin-bottom: 5px;
}

.goBackBtn {
  padding: 4px 8px;
  border-radius: 8px;
  border: solid white 1px;
  background-color: black;
  color: white;
  width: fit-content;
  margin: 0 4px;
  cursor: pointer;
}

.goBackBtn:hover {
  background-color: white;
  color: black;
}

.recommendationInformationContainer {
  width: 70%;
}
.ratingInformationContainer {
  width: 15%;
  background-color: var(--secondary);
  height: fit-content;
  padding: 10px;
  border-radius: 8px;
  border: solid black 1px;
  text-align: center;
  min-width: 66px;
}

.ratingIcon {
  font-size: 2rem;
}

@media only screen and (max-width: 888px) {
  .mainContainer {
    width: 94%;
  }
  .playerContainer {
    width: 92%;
  }
  .soundInformationContainer {
    display: flex;
    flex-direction: column;
  }
}
