.serviceDisplay {
  height: 100%;
  overflow-y: scroll;
  color: black;
  border-left: solid 5px black;
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    flex-direction: row;
  }
  .userInformationContainer {
    width: 40%;
    height: 100%;
  }
  .userSharesContainer {
    width: 60%;
  }
}
