.cardContainer {
  width: 30%;
  min-width: 222px;
  height: fit-content;
  padding-bottom: 8px;
  margin: 8px;
  border: solid black 1px;
}

.iframeContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 16px;
  height: 0;
}
.iframeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.soundIframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.btnsContainer {
  text-align: center;
}

.btnsContainer a {
  border: solid white 1px;
  background-color: black;
  color: white;
  margin: 2px 3px;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
}

.btnsContainer a:hover {
  border: solid black 1px;
  background-color: white;
  color: black;
}

.cardContainerText {
  text-align: center;
  margin-top: 10px;
  padding: 0 8px;
}

.reactionsContainer {
  margin-top: 4px;
}

.reactionsContainer span {
  margin: 0 6px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (max-width: 666px) {
  .cardContainer {
    width: 88%;
  }
}
