.albumCardContainer {
  border: solid black 1px;
  background-color: rgb(81, 177, 86);
  margin: 4px;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.albumImageContainer {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: solid black 2px;
}

.reactionsContainer {
  margin-top: 4px;
  text-align: center;
}

.reactionsContainer span {
  margin: 0 6px;
  cursor: pointer;
}

.btnsContainer {
  margin: 12px auto 0;
  text-align: center;
}

.btnsContainer a {
  border: solid black 1px;
  background-color: transparent;
  margin: 2px 3px;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}
