:root {
  --primary: #c33c54;
  --secondary: #8ee3ef;
  --third: #12355b;
  --fourth: #aef3e7;
  --fifth: #514b23;
  --white-txt: #fff;
  --section-height: calc(100vh - 88px - 20px);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
