.topNav {
  background-color: var(--secondary);
  width: 100%;
  border-bottom: 1px solid red;
  text-align: center;
}

.topNav h2 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.topNav a {
  color: yellow;
  margin: 0;
  padding: 0;
  display: inline;
}

.soundElementsContainer {
  background-color: var(--secondary);
  border: solid black 1px;
  border-radius: 8px;
  margin: 20px auto;
  width: 80%;
  text-align: center;
  padding: 12px;
}

.innerSoundsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
}

.playerContainer {
  width: 30%;
  height: 222px;
  margin: 0 auto;
  background-color: aliceblue;
  border: solid black 2px;
  border-radius: 8px;
  padding: 3px;
}

.noSoundsContainer {
  text-align: center;
  width: 100%;
}

.newElementBtn {
  background-color: white;
  color: black;
  padding: 4px;
  border-radius: 8px;
  border: solid black 1px;
}

.newElementBtn:hover {
  color: white;
  background-color: black;
  border: solid white 1px;
  cursor: pointer;
}

.noSoundsMsg {
  color: white;
  font-size: 3rem;
}
